* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    color: white;
    font-size: 60px;
    font-weight: 700;
    margin-top: 50px;
}

.header > span {
    color: red;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.analog {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: white;
}

.analog > p {
    color: gray;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.a-hour,
.a-minute,
.a-second {
    height: 2px;
    border-radius: 1px;
    position: relative;
    transform-origin: 100%;
    transform: rotate(90deg);
}

.a-hour {
    z-index: 2;
    width: 60px;
    top: 100px;
    left: 40px;
    background-color: skyblue;
}

.a-minute {
    z-index: 1;
    width: 90px;
    top: 98px;
    left: 10px;
    background-color: skyblue;
}

.a-second {
    z-index: 3;
    width: 90px;
    top: 96px;
    left: 10px;
    background-color: red;
}

.digital {
    margin-top: 10px;
}

.d-time {
    color: white;
    font-size: 28px;
}

.d-button {
    color: white;
    background-color: skyblue;
    border: 1px solid white;
    padding: 3px;
    margin-left: 5px;
}

.d-button:hover {
    color: skyblue;
    background-color: white;
}

.weather,
.weather-top-right {
    color: white;
    display: flex;
    flex-direction: column;
}

.weather-top {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.w-temp {
    font-size: 48px;
    font-weight: 600;
}

.w-desc {
    font-size: 32px;
    font-weight: 400;
    margin-top: 15px;
}

.w-temps,
.w-others {
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
    margin-top: 5px;
}

.w-temps > span,
.w-others > span {
    color: lightgray;
}

@media ( max-width: 800px ) {
    .header {
        font-size: 54px;
    }
}


@media ( max-width: 750px ) {
    .body,
    .main,
    .weather-top {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    body {
        height: auto;
    }
    .main {
        margin: 20px auto;
    }
    .header {
        margin-bottom: 40px;
        font-size: 48px;
    }
    .d-time {
        font-size: 32px;
        font-weight: 400;
    }
    .weather {
        margin-top: 50px;
        text-align: center;
    }
    #w-icon {
        width: 300px;
    }
    .clock,
    .w-temps,
    .w-others {
        margin: 0;
    }
}